*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #2d3436;
}
.progress{
    position:absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    margin: auto;
}
.progress-circle{
    stroke-dashoffset: 314;
    stroke-dasharray: 314;    /*complete stroke = 2pi*r = 315*/
    stroke-linecap: round;
}